.album-container {
  width: 470px;
  height: 200px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 7px 0px rgba(134, 134, 134, 0.73);
  margin: 20px;
}

.album-contenido {
  padding: 20px;
  padding-left: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.album-titulo {
  font-size: 30px;
  margin-bottom: 15px;
}
.album-subtitulo {
  margin-top: 3px;
  font-size: 15px;
  color: rgb(109, 109, 109);
  font-weight: normal;
}

.cronologia {
  color: rgb(141, 141, 141);
  font-size: 14px;
}
