.card {
  width: 500px;
  margin: 0 auto 30px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.card .card-photo {
  width: 150px;
  height: 150px;
  border-radius: 8em;
}
.card .card-information {
  width: 300px;
  font-style: italic;
}
.card .card-information .card-information-name {
  color: steelblue;
  font-weight: bold;
}
.card .card-information .card-information-description {
  font-size: 12px;
}
.card .card-information .card-information-voting img {
  width: 15px;
}
.card .card-voting {
  position: absolute;
  right: 10px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card .card-voting span {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.card .card-voting span:nth-child(1) {
  background: green;
  margin-right: 5px;
}
.card .card-voting span:nth-child(2) {
  background: red;
}
/*# sourceMappingURL=Card.css.map */