.card {
  width: 500px;
  margin: 0 auto 30px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .card-photo { 
    width:150px;
    height:150px;
    border-radius: 8em;
  }

  .card-information {
    width: 300px;
    font-style: italic;

    .card-information-name { 
      color: steelblue;
      font-weight: bold;
    }

    .card-information-description { font-size: 12px; }
    .card-information-voting img { width: 15px; }
  }

  .card-voting {
    position: absolute;
    right: 10px;
    top: 20px;
    display: flex;

    span {
      width: 20px;
      height: 20px;
      color: white;
      border-radius: 8em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:nth-child(1) { background: green; margin-right: 5px; }
      &:nth-child(2) { background: red; }
    }
  }
}