.corazon {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(61, 61, 61, 0.17);
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
}

.corazon img {
  width: 40px;
}